.body {
  overflow: visible;
  background-color: #00060a;
  font-family: Helveticanowdisplay, sans-serif;
  font-size: 1vw;
  line-height: 1.25;
  font-weight: 500;
}

.menu {
  position: relative;
  z-index: 110;
  margin-top: 3.25vh;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fef9f3;
}

.image-2 {
  position: relative;
  width: 41.5vw;
  height: 74.07407407407408vh;
  -o-object-fit: contain;
  object-fit: contain;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column.hero-illustration-2 {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90%;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header {
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  padding-right: 5vw;
  padding-bottom: 1.5vh;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(254, 249, 243, 0);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.header.active {
  background-color: #fff;
}

.faq-img {
  position: static;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.faq-img.disable-select {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 2.35vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  -webkit-transition: background-color 250ms ease;
  transition: background-color 250ms ease;
  text-decoration: none;
}

.button2:hover {
  background-color: #1b1b1b;
}

.paragraph-text2 {
  opacity: 0.65;
  color: #e4e4e4;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
}

.section5 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-right: 3.125vw;
  padding-bottom: 5vh;
  padding-left: 3.125vw;
  background-color: #101010;
}

.big-title-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.table-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 0vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-top: 1px solid hsla(0, 0%, 79.6%, 0.5);
  border-bottom: 1px solid hsla(0, 0%, 79.6%, 0.5);
  text-decoration: none;
}

.text-block-3 {
  line-height: 1.1;
  text-align: left;
}

.text-block-3.right {
  text-align: right;
}

.table-header-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.75vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.link-block-2 {
  display: block;
  margin-top: 1vh;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  text-decoration: none;
}

.link-block-2:hover {
  opacity: 0.7;
}

.lottie-animation2 {
  height: 1.4vh;
  margin-left: 0.75vw;
}

.content-section-chart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.65vh;
  margin-right: 0vw;
  margin-left: 0vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.right-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.link-block {
  margin-left: 2vw;
  opacity: 0.55;
  color: #e4e4e4;
  font-size: 0.9vw;
  line-height: 1;
  letter-spacing: -0.027vw;
  text-decoration: none;
  text-transform: uppercase;
}

.link-block.view-profile {
  margin-left: 0vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  opacity: 1;
  color: #e4e4e4;
}

.paragraph-heading {
  display: inline-block;
  padding-bottom: 0.25vh;
  border-bottom: 1px solid hsla(0, 0%, 79.6%, 0.85);
  opacity: 0.85;
  color: #e4e4e4;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.paragraph-text {
  opacity: 0.85;
  color: #e4e4e4;
  font-size: 1vw;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.03vw;
}

.paragraph-text.top {
  padding-top: 2vh;
}

.table-card {
  margin-top: 9.25vh;
}

.table-card.footer-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.table-card.table-top {
  margin-top: 2vh;
}

.table-card.end {
  margin-top: 0vh;
}

.group-graph-holder {
  margin-top: 12.5vh;
  padding-bottom: 2vh;
}

.big-table-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
}

.footer-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.65vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.paragraph-holder {
  width: 24vw;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.paragraph-holder.portu {
  width: 23.5vw;
}

.section-title {
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #e4e4e4;
  font-size: 6.25vw;
  line-height: 0.95;
  text-align: right;
  letter-spacing: -0.1875vw;
}

.section-title.fade-up3.tricks.portu {
  margin-top: -6px;
  padding-bottom: 15px;
}

.smooth-scroll-wrapper {
  position: absolute;
  z-index: 20;
}

.empty {
  z-index: 5;
  width: 100%;
  height: 57vh;
}

.inner-table-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.paragraph-heading2 {
  display: inline-block;
  padding-bottom: 0.25vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 0.85;
  color: #e4e4e4;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.left-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.member-card {
  margin-top: 9.25vh;
}

.member-card.top {
  margin-top: 6.95vh;
}

.lottie-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section3 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #101010;
}

.section2 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #101010;
}

.regulatory-stamp {
  width: 10vw;
  height: 12vh;
}

.line-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 93.75vw;
  height: 13.5vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  padding-bottom: 0vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.line-bar.chart-section {
  width: 100%;
  margin-right: 0vw;
  margin-left: 0vw;
}

.line {
  position: relative;
  width: 100%;
  height: 1px;
  margin-top: 7.4vh;
  margin-bottom: 7.4vh;
  background-color: #e4e4e4;
  opacity: 0.5;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.lottie-animation-2 {
  width: 10vw;
  margin-top: 4vh;
  clear: left;
}

.footer-holder {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-holder.end {
  margin-right: 0vw;
}

.name-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.75vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.name-holder.name {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.name-holder.footer-heading {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.paragraph-heading3 {
  display: inline-block;
  padding-bottom: 0.25vh;
  opacity: 0.85;
  color: #e4e4e4;
  font-size: 0.88vw;
  line-height: 1.1;
  font-weight: 300;
  text-align: right;
  letter-spacing: -0.0264vw;
  text-transform: uppercase;
}

.content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.65vh;
  margin-right: 3.125vw;
  margin-left: 3.125vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line2 {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
  opacity: 0.5;
}

.section4 {
  position: relative;
  z-index: 5;
  width: 100vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #101010;
}

.paragraph-text3 {
  margin-top: 0vh;
  opacity: 0.65;
  color: #e4e4e4;
  font-size: 0.88vw;
  line-height: 1.05;
  font-weight: 300;
  letter-spacing: -0.0264vw;
}

.paragraph-text3.top {
  padding-top: 2vh;
}

.paragraph-holder2 {
  width: 100%;
}

.not-available {
  display: none;
}

.column-3 {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #fff;
}

.column-4 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-7 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.course-details {
  position: relative;
  background-color: #fef9f3;
}

.image-4 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
}

.cd-holder {
  padding-top: 0vh;
  background-color: #fff;
}

.tabs-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.75vh 4vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.tab-link-tab-1 {
  padding-left: 1vw;
}

.tab-link-tab-1.w--current {
  padding-right: 1.1vw;
  padding-left: 1.1vw;
  border-bottom: 1px solid #000e17;
  background-color: #fff;
}

.tab-link-tab-2 {
  padding-right: 1.1vw;
  padding-left: 1.1vw;
  background-color: #fff;
  color: rgba(0, 14, 23, 0.6);
}

.tab-link-tab-3 {
  padding-right: 1.1vw;
  padding-left: 1.1vw;
  background-color: #fff;
  color: rgba(0, 14, 23, 0.6);
}

.tab-link-tab-4 {
  padding-right: 1.1vw;
  padding-left: 1.1vw;
  background-color: #fff;
  color: rgba(0, 14, 23, 0.6);
}

.tab-link-tab-5 {
  padding-right: 1.1vw;
  padding-left: 1.1vw;
  background-color: #fff;
  color: rgba(0, 14, 23, 0.6);
}

.text-block-4 {
  color: #000e17;
  font-weight: 500;
}

.cd {
  padding-top: 6vh;
  padding-right: 4vw;
  padding-left: 4vw;
}

.tabs {
  margin-top: 10vh;
}

.footer {
  height: 56.5vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-illustration-2 {
  position: relative;
  width: 50vw;
  height: 100vh;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 100% 100%;
  object-position: 100% 100%;
}

.hero-illustration-2.disable-select {
  width: 44.5vw;
}

.header-mobile {
  position: fixed;
  z-index: 100;
  display: none;
  height: 10vh;
  padding-right: 5vw;
  padding-bottom: 1.5vh;
  padding-left: 5vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(254, 249, 243, 0);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

.header-mobile.active {
  background-color: #fff;
}

.mobile-menu {
  position: relative;
  z-index: 110;
  margin-top: 3.25vh;
}

.tabs-mobile {
  margin-top: 10vh;
}

.faq-mobile {
  padding-top: 0vh;
  background-color: #fff;
}

.mobile-only {
  display: none;
}

@media screen and (min-width: 1920px) {
  .empty {
    height: 72vh;
  }

  .footer {
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #fef9f3;
  }

  .header {
    display: none;
  }

  .paragraph-text2 {
    font-size: 1.45vw;
    letter-spacing: -0.045vw;
  }

  .section5 {
    padding-right: 4vw;
    padding-left: 4vw;
  }

  .text-block-3 {
    line-height: 1.15;
  }

  .lottie-animation2 {
    height: 1vh;
  }

  .link-block {
    font-size: 1.4vw;
    letter-spacing: -0.042vw;
  }

  .link-block.view-profile {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
  }

  .paragraph-heading {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .paragraph-text {
    font-size: 1.6vw;
    letter-spacing: -0.048vw;
  }

  .paragraph-text.top {
    padding-top: 1.5vh;
    font-size: 1.6vw;
    letter-spacing: -0.048vw;
  }

  .table-card {
    margin-top: 7.5vh;
  }

  .group-graph-holder {
    margin-top: 7.5vh;
  }

  .big-table-holder {
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-section {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .paragraph-holder {
    width: 39vw;
  }

  .paragraph-holder.portu {
    width: 33.5vw;
  }

  .section-title {
    font-size: 7.5vw;
    letter-spacing: -0.225vw;
  }

  .section-title.fade-up5.tricks.portu {
    font-size: 7vw;
  }

  .section-title.fade-up2.tricks.portu {
    font-size: 7vw;
  }

  .section-title.fade-up3.tricks.portu {
    font-size: 7vw;
  }

  .section-title.fade-up.tricks.portu {
    font-size: 7vw;
  }

  .smooth-scroll-wrapper {
    display: none;
  }

  .inner-table-holder {
    width: 33.5vw;
  }

  .paragraph-heading2 {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .member-card {
    margin-top: 7.5vh;
  }

  .member-card.top {
    margin-top: 5vh;
  }

  .regulatory-stamp {
    height: 7.5vh;
  }

  .line-bar {
    width: 92vw;
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .line {
    margin-top: 6.5vh;
    margin-bottom: 6.5vh;
  }

  .footer-holder {
    display: none;
    width: auto;
    margin-right: 4vw;
  }

  .paragraph-heading3 {
    font-size: 1.45vw;
    letter-spacing: -0.0435vw;
  }

  .content-section {
    margin-right: 4vw;
    margin-left: 4vw;
  }

  .paragraph-text3 {
    font-size: 1.45vw;
    letter-spacing: -0.045vw;
  }

  .paragraph-holder2 {
    width: 100%;
  }

  .not-available {
    display: block;
    margin: 0px 10vw 5vh 5vw;
    color: #000;
    font-size: 4.5vh;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: -0.25vw;
  }

  .not-available.tablet {
    margin-left: 0vw;
  }

  .not-available.mobile {
    display: none;
  }

  .header-mobile {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .body {
    margin-top: 0vh;
  }

  .menu.disable-select {
    display: none;
  }

  .paragraph-text2 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .section5 {
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .text-block-3 {
    font-size: 3.5vw;
    letter-spacing: -0.105vw;
  }

  .content-section-chart {
    margin-top: 5vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .right-footer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .link-block {
    font-size: 3vw;
  }

  .link-block.view-profile {
    padding-top: 1.75vh;
    padding-bottom: 1.75vh;
  }

  .paragraph-heading {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .paragraph-text {
    font-size: 3.75vw;
    letter-spacing: -0.1125vw;
  }

  .paragraph-text.top {
    padding-top: 0vh;
    font-size: 3.75vw;
    letter-spacing: -0.1125vw;
  }

  .table-card {
    margin-top: 8vh;
  }

  .table-card.footer-end {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .group-graph-holder {
    margin-top: 5vh;
  }

  .big-table-holder {
    margin-top: 0vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-section {
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }

  .paragraph-holder {
    width: 100%;
    margin-top: 5vh;
  }

  .paragraph-holder.portu {
    width: 98%;
  }

  .section-title {
    font-size: 11.5vw;
    text-align: left;
    letter-spacing: -0.345vw;
  }

  .section-title.fade-up5.tricks.portu {
    font-size: 11vw;
  }

  .section-title.fade-up2.tricks.portu {
    font-size: 11vw;
  }

  .section-title.fade-up3.tricks.portu {
    font-size: 11vw;
  }

  .section-title.fade-up.tricks {
    margin-top: -8px;
    padding-bottom: 8px;
  }

  .section-title.fade-up.tricks.portu {
    font-size: 11vw;
  }

  .empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 85vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .inner-table-holder {
    width: 98%;
  }

  .paragraph-heading2 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .left-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .member-card {
    margin-top: 8vh;
  }

  .member-card.top {
    margin-top: 6vh;
  }

  .chart-graph {
    margin-top: 4vh;
  }

  .regulatory-stamp {
    width: 20vw;
    height: 6.5vh;
  }

  .line-bar {
    width: 90vw;
    height: 10vh;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .line {
    margin-top: 6vh;
    margin-bottom: 7.5vh;
  }

  .div-block-6 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .lottie-animation-2 {
    display: none;
    width: 15vw;
    margin-top: 5.5vh;
  }

  .footer-holder {
    width: 90vw;
    margin-top: 5vh;
  }

  .footer-holder.end {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .paragraph-heading3 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .content-section {
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .paragraph-text3 {
    font-size: 3.3vw;
    letter-spacing: -0.099vw;
  }

  .paragraph-holder2 {
    width: 100%;
    margin-top: 2.5vh;
  }

  .not-available {
    display: none;
    margin-right: 5vw;
  }

  .not-available.tablet {
    display: none;
  }

  .not-available.mobile {
    display: block;
    margin-left: 0vw;
    font-size: 3.5vh;
    line-height: 1;
    letter-spacing: -0.175vw;
  }

  .cd-holder {
    position: relative;
    z-index: 5;
  }

  .cd-holder.key-details-mobile {
    position: relative;
    z-index: 5;
    padding-top: 2vh;
  }

  .tabs-menu {
    top: 8vh;
    width: 100%;
    margin-top: 2vh;
    padding: 0vh 5vw 1vh;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .tab-link-tab-1.w--current {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .tab-link-tab-2 {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .tab-link-tab-3 {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .tab-link-tab-4 {
    padding-right: 3vw;
    padding-left: 3vw;
  }

  .text-block-4 {
    font-size: 3.5vw;
  }

  .cd.disable-select {
    padding-top: 0vh;
    padding-right: 0vw;
    padding-left: 0vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .cd.disable-select.no-radius {
    padding-top: 0vh;
    border-radius: 0px;
  }

  .header-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 8vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .mobile-menu.disable-select {
    margin-top: 2vh;
  }

  .mobile-hero-section {
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fef9f3;
  }

  .mobile-cta {
    position: fixed;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    z-index: 200;
    display: block;
  }

  .image-5 {
    width: 88vw;
    margin-bottom: 2.5vh;
  }

  .hero-mobile-heading {
    width: 100%;
  }

  .div-block-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .tabs-mobile {
    margin-top: 0vh;
    background-color: #fff;
  }

  .text-block-5 {
    font-size: 3.5vw;
  }

  .text-block-6 {
    font-size: 3.5vw;
  }

  .text-block-7 {
    font-size: 3.5vw;
  }

  .section {
    position: relative;
    z-index: 5;
  }

  .faq-mobile {
    position: relative;
    z-index: 5;
    background-color: hsla(0, 0%, 100%, 0);
  }

  .mobile-footer-holder {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #00060a;
  }

  .mobile-only {
    display: block;
  }
}

@font-face {
  font-family: 'Helveticanowdisplay';
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}